<h1>The sorting hat says: </h1>
<p> I know just what to do with you...</p>
<p>Better be <%= @house.name %>!</p>
<p><iframe src="https://giphy.com/embed/8xzgE271hloeQ"  style="position:relative" frameBorder="0" class="giphy-embed" ></iframe></p>

