<h1>
  What would you like to do?
</h1>

<p><%= link_to "Go to the #{@current_user.house.name} Common Room", house_path(@current_user.house_id) %></p>
<p><%= link_to 'Visit the sorting hat', edit_user_path(@current_user.id) %></p>
<p><%= button_to 'Avada Kedavra Yourself!', @user, :method => :delete %></p>