<h1>Game over!</h1>

User Score: <%= @user_score %><br>
Computer Score: <%= @computer_score %>
<br>
Winner: <%= @winner %>
<br>

better remember to add a link here
<%# link_to 'Back to the Common Room', house_path(@current_user.house) %>