/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html {font-family: 'bluu';}

 * {
  font-family: 'bluu';
 }

 @font-face {
     font-family: 'bluu';
     src: url('/fonts/webfonts/bluunext-bold-webfont.woff2') format('woff2'),
          url('/fonts/webfonts/bluunext-bold-webfont.woff') format('woff'),
          url('/fonts/webfonts/bluunext-bold.ttf') format('truetype'),
          url('/fonts/webfonts/bluunext-bold-webfont.svg') format('svg');
     font-weight: normal;
     font-style: normal;
    }

.errors {
     color: red;
}

h1 {
     text-align: center;
   }

select {
	display: block;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: white;
	background-image: url(https://icon-library.net/images/small-arrow-icon/small-arrow-icon-18.jpg),
	  linear-gradient(to bottom, white 0%,white 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

input[type="submit" i] {
	display: block;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em .6em .6em .6em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: white;

}



.HogwartsNav {
     background-color: #333;
     overflow: hidden;
}

.HogwartsNav div {
     float: left;
     color: #f2f2f2;
     text-align: center;
     text-decoration: none;
     font-size: 17px;
}

.HogwartsNav a {
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
}

.HogwartsNav a:hover {
     background-color: #ddd;
     color: black;
}

.RavenclawNav {
     background-color: #0e1a40;
     overflow: hidden;
}

.RavenclawNav div {
     float: left;
     color: #5d5d5d;
     text-align: center;
     text-decoration: none;
     font-size: 17px;
}

.RavenclawNav a {
     float: left;
     color: #946b2d;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
}

.RavenclawNav a:hover {
     background-color: #946b2d;
     color: #000000;
}

.GryffindorNav {
     background-color: #740001;
     overflow: hidden;
}

.GryffindorNav div {
     float: left;
     color: #5d5d5d;
     text-align: center;
     text-decoration: none;
     font-size: 17px;
}

.GryffindorNav a {
     float: left;
     color: #d3a625;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
}

.GryffindorNav a:hover {
     background-color: #d3a625;
     color: #ae0001;
}

.SlytherinNav {
     background-color: #1a472a;
     overflow: hidden;
}

.SlytherinNav div {
     float: left;
     color: #5d5d5d;
     text-align: center;
     text-decoration: none;
     font-size: 17px;
}

.SlytherinNav a {
     float: left;
     color: #aaaaaa;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
}

.SlytherinNav a:hover {
     background-color: #2a623d;
     color: #000000;
}

.HufflepuffNav {
     background-color: #ecb939;
     overflow: hidden;
}

.HufflepuffNav div {
     float: left;
     color: #5d5d5d;
     text-align: center;
     text-decoration: none;
     font-size: 17px;
}

.HufflepuffNav a {
     float: left;
     color: #372e29;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
}

.HufflepuffNav a:hover {
     background-color: #000000;
     color: #f0c75e;
}

.HogwartsBody {
     background-color: white;
}

.HogwartsBody select {
     background-color: white;
}

.RavenclawBody {
     background-color: white;
}

.RavenclawBody select {
     background-color: white;
}

.SlytherinBody {
     background-color: white;

}

.SlytherinBody select {
     background-color: white;
}

.GryffindorBody {
     background-color: white;
}

.GryffindorBody select {
	display: block;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.HufflepuffBody {
     background-color: white;
}

.HufflepuffBody select {
     background-color: white;
}

.seal {
     float: right;
     margin: 15px;
   }

